<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tell me todo</title>
    <link th:href="@{/css/common/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common/all.css}" rel="stylesheet">
    <link th:href="@{/css/common/button.css}" rel="stylesheet">
    <link th:href="@{/css/user/home.css}" rel="stylesheet">
</head>
<body>
<div class="home-container content-center-col">
    <div class="home-button-container">
        <button class="btn dropdown home-user-image-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img th:src="@{/images/svg/person-circle.svg}" class="home-user-icon" alt="유저 로고">
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" th:onclick="|location.href='@{/myPage}'|">마이 페이지</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" th:onclick="|location.href='@{/logout}'|">로그아웃</a></li>
        </ul>
    </div>
    <div class="home-box content-center-col">
        <div class="home-title"> To do List </div>
        <div class="home-date" id="current-date">연월일</div>
        <form th:action="@{/todos}" method="post" th:onsubmit="|return checkContentLength()|" class="home-inputBox content-center-row">
            <div class="input-group">
                <input type="text" class="form-control input-custom" id="add-todo-input" th:name="content" placeholder="입력해 주세요!" autocomplete="off" autofocus>
            </div>
            <button type="submit" class="btn home-inputButton purple-button-sm content-center-col">+</button>
        </form>
    </div>
</div>

<div class="home-todo-container">
    <div class="home-todo-header-container">
        <div class="home-progress-container">
            <div class="home-progress-title">
                <span>달성률</span>
                <button type="button" class="btn btn-danger" id="delete-item-button" th:onclick="clearTodoList()">전체 삭제</button>
            </div>
            <div class="progress home-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar home-progress-bar-detail"></div>
            </div>
        </div>
        <div class="home-dropdown btn-group">
            <button class="btn btn-secondary dropdown-toggle home-sort-button" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                정렬 기준
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">생성 순</a></li>
                <li><a class="dropdown-item" href="#">최근 수정한 순</a></li>
                <li><a class="dropdown-item" href="#">이름 순</a></li>
                <li><a class="dropdown-item" href="#">완료된 순</a></li>
            </ul>
        </div>
    </div>
    <div class="home-todo-list-container">
        <div th:each="item : ${todoList}" class="home-todo-item" th:id="'home-item-' + ${item.id}">
            <div class="home-checkbox form-check">
                <input type="checkbox" class="form-check-input checkbox-icon input-custom" th:checked="${item.completed}" th:onclick="|clickCheckbox(${item.id})|" autocomplete="off">
                <input type="text" class="form-control home-todo-item-title input-custom" th:value="${item.content}" th:name="content" autocomplete="off">
            </div>
            <div class="home-icon-container">
                <button type="submit" class="home-icon" th:onclick="|toggleFavorite(${item.id})|">
                    <img th:src="${item.favorite} ? '/images/svg/star-fill.svg' : '/images/svg/star.svg'" th:id="'favorite_' + ${item.id}" alt="star" />
                </button>
                <button type="submit" class="home-icon" th:onclick="|clearTodo(${item.id})|">
                    <img th:src="@{/images/svg/trash3.svg}" alt="trash"/>
                </button>
            </div>
        </div>
    </div>
</div>
</body>

<script th:src="@{/js/common/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/common/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/api/todo-api.js}"></script>
<script th:src="@{/js/api/common/sendApiRequest.js}"></script>
<script th:src="@{/js/user/home.js}"></script>
<script th:src="@{/js/util/getCurrentDate.js}"></script>
<script th:src="@{/js/util/getProgressPercentage.js}"></script>
<script>
    window.onload = () => {
        getProgressPercentage();
    }
</script>
</html>