<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tell me todo</title>
    <link th:href="@{/css/common/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common/all.css}" rel="stylesheet">
    <link th:href="@{/css/user/home.css}" rel="stylesheet">
</head>
<body>
<div class="home-container content-center-col">
    <div class="home-button-container">
        <button type="button" class="btn purple-button-sm" data-bs-toggle="modal" data-bs-target="#loginModal">LOGIN</button>
        <button type="button" class="btn purple-button-sm ms-2">JOIN</button>
    </div>
    <div class="home-box content-center-col">
        <div class="home-title"> To do List ghldnjs </div>
        <div class="home-date" id="current-date"> </div>
        <div class="home-inputBox content-center-row">
            <div class="input-group">
                <input type="text" class="form-control" id="add-todo-input" placeholder="입력해 주세요!">
            </div>
            <button type="button" class="btn home-inputButton purple-button-sm  content-center-col">+</button>
        </div>
    </div>
</div>
<div class="home-todo-container">
    <div class="home-todo-header-container">
        <div class="home-progress-container">
<!--            <div sec:authorize="isAuthenticated()">-->
<!--                인증객체 잘 들어오나?-->
<!--            </div>-->
            <div class="fs-3">달성률 </div>
            <div class="progress home-progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar home-progress-bar-detail" ></div>
            </div>
        </div>
        <div th:if="${user == null}" class="home-dropdown btn-group">
            <button type="button" class="btn btn-danger h-50" id="delete-item-button">
                전체 삭제
            </button>
        </div>
        <div th:if="${user != null}" class="home-dropdown btn-group">
            <button class="btn btn-secondary dropdown-toggle h-50" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                정렬 기준
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">기본</a></li>
                <li><a class="dropdown-item" href="#">최근 수정한 순</a></li>
                <li><a class="dropdown-item" href="#">이름 순</a></li>
                <li><a class="dropdown-item" href="#">완료된 순</a></li>
            </ul>
        </div>
    </div>
    <div class="home-todo-list-container">
        <div th:each="item : ${todoList}" class="home-todo-item">
            <div class="home-checkbox form-check">
                <input class="form-check-input checkbox-icon" type="checkbox" th:id="${item.id}" th:checked="${item.completed}">
                <input class="form-control home-todo-item-title" type="text" th:id="${item.id}" th:value="${item.content}">
            </div>
            <div class="home-icon-container">
                <button type="button" class="home-icon" th:id="favorite-icon_${item.id}">
                    <img th:src="@{/images/svg/star.svg}"/>
                </button>
                <button type="button" class="home-icon" th:id="delete-icon_${item.id}">
                    <img th:src="@{/images/svg/trash3.svg}"/>
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">로그인</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form th:action="@{/users/login}" method="post">
                <div class="modal-body">
                    <div class="login-form-box content-center-row">
                        <div>
                            아이디
                        </div>
                        <input type="text" name="username" class="form-control login-modal-input">
                    </div>
                    <div class="login-form-box mt-4 content-center-row">
                        <div>
                            비밀번호
                        </div>
                        <input type="password" name="password" class="form-control login-modal-input">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn purple-button-sm login-modal-btn">게스트 로그인</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

<script th:src="@{/js/common/jquery-3.7.1.min.js}"></script>
<script th:src="@{/js/common/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/util/getCurrentDate.js}"></script>
<script th:src="@{/js/util/getProgressPercentage.js}"></script>
<script th:src="@{/js/todo/getTodoList.js}"></script>
<script th:src="@{/js/todo/addTodoItem.js}"></script>
<script th:src="@{/js/todo/renderTodoList.js}"></script>
<script th:src="@{/js/todo/removeTodo.js}"></script>
<script th:inline="javascript">
    let user = [[${user}]];

    // 페이지 첫 렌더링 + 새로고침
    window.onload = function () {
        getCurrentDate();
        if (!user) {
            renderTodoList();
            addEventListeners();
            getProgressPercentage();
        }
    };

    // 비로그인 유저의 이벤트 감지 함수
    function addEventListeners() {

        function addTodoAndUpdateProgress() {
            addTodoItem();
            getProgressPercentage();
        }

        document.querySelector('#add-todo-input').addEventListener('keypress', e => {
            if (e.key === 'Enter') {
                addTodoAndUpdateProgress();
            }
        });

        document.querySelector('.home-inputButton').addEventListener('click', addTodoAndUpdateProgress);

        document.querySelector('#delete-item-button').addEventListener('click', () => {
            removeTodoList();
            getProgressPercentage();
        });
    }
</script>

</html>