<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tell me todo</title>
    <link th:href="@{/css/common/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/common/all.css}" rel="stylesheet">
    <link th:href="@{/css/common/button.css}" rel="stylesheet">
    <link th:href="@{/css/user/join.css}" rel="stylesheet">
</head>
<body>
    <div class="join-container">
        <button th:onclick="|location.href='@{/}'|" type="button" class="btn btn-white-custom btn-lg">
            <- HOME
        </button>
        <div class="join-form-container ">
            <div class="join-title">회원가입</div>
            <form th:object="${userFormDto}" th:action="@{/users}" method="post" class="join-form-wrapper">
                <!--    id    -->
                <div class="join-label-wrapper">
                    <label for="username" class="form-label">아이디</label>
                    <span id="usernameCheckSuccess" class="join-validate-success"></span>
                    <span id="usernameCheckFail" class="join-validate-fail"></span>
                    <span th:if="${#fields.hasErrors('username')}" th:text="#{join.username.duplicated}" class="join-validate-fail"></span>
                </div>
                <div class="join-username-wrapper">
                    <input id="username" type="text" class="form-control input-custom" th:field="*{username}" placeholder="아이디 입력 (숫자, 영어 6자 - 20자)" data-valid="false">
                    <button id="username-button" type="button" onclick="checkUsernameDuplicate()" class="btn btn-purple-custom" disabled> 중복 확인</button>
                </div>
                <!--    pw    -->
                <div class="join-label-wrapper">
                    <label for="password" class="form-label">비밀번호</label>
                    <span id="passwordLengthFail" class="join-validate-fail"></span>
                    <span th:if="${#fields.hasErrors('password')}" th:text="#{join.password.fail}" class="join-validate-fail"></span>
                </div>
                <input id="password" type="password" class="form-control input-custom" th:field="*{password}" placeholder="비밀번호 입력 (숫자, 영어, 특수문자 8자 - 20자)" autoComplete="off" data-valid="false">
                <!--    check pw    -->
                <div class="c">
                    <label for="checkPassword" class="form-label">비밀번호 재확인</label>
                    <span id="passwordCheckSuccess" class="join-validate-success"></span>
                    <span id="passwordCheckFail" class="join-validate-fail"></span>
                </div>
                <input id="checkPassword" type="password" class="form-control input-custom" autoComplete="off" data-valid="false">
                <!--    nickname    -->
                <div class="join-label-wrapper">
                    <label for="nickname" class="form-label">닉네임</label>
                    <span id="nicknameCheckFail" class="join-validate-fail"></span>
                    <span th:if="${#fields.hasErrors('nickname')}" th:text="#{join.nickname.fail}" class="join-validate-fail"></span>
                </div>
                <input id="nickname" type="text" class="form-control input-custom" th:field="*{nickname}" placeholder="닉네임 입력 (1자 - 20자)" data-valid="false">
                <!--    email    -->
                <div class="join-label-wrapper">
                    <label for="email" class="form-label">
                        <span>(선택) </span>이메일
                    </label>
                    <span id="emailCheckFail" class="join-validate-fail"></span>
                    <span th:if="${#fields.hasErrors('email')}" th:text="#{join.email.fail}" class="join-validate-fail"></span>
                </div>
                <input id="email" type="text" class="form-control input-custom" th:field="*{email}" data-valid="true">
                <button class="btn btn-purple-custom" id="join-button" disabled>가입</button>
            </form>
        </div>
        <div class="join-image-wrapper">
            <img th:src="@{/images/svg/join.svg}" alt="join-image">
        </div>
    </div>
</body>
<script th:src="@{/js/api/user-api.js}"></script>
<script th:src="@{/js/user/join.js}"></script>
<script>
</script>
</html>